{% extends "base.html" %}
{% load urlify %}
{% block title %}
Cleaner. Fresher. Newer.
{% endblock title %}

{% block content %}
<div class="row">

<form action="{% url 'posts:list' %}" method="GET">
<input type="text" name="q" placeholder="Search posts here" value="{{request.GET.q}}">
<input type="submit" value="search" class="btn btn-primary">
<input type="reset" value="clear" class="btn btn-success">
</form>


<br>

   {% for x in post_list %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    {% if x.image %}
      <img src="{{x.image.url}}" class="img-responsive">
     {% endif %}
      <div class="caption">
        <h3>{{x.title}}<br><small>{{x.timestamp|timesince}} ago</small></h3>
        {% if x.draft %}<h4>Draft</h4>{% endif %}
        {% if x.publish > today %}<h4>Future blog post</h4>{% endif %}
        <p>{{x.content|linebreaks|truncatechars:10}}</p>
        Author: {{x.author.get_full_name}}<br>
        <p><a href="{{x.absurl}}" class="btn btn-success" role="button">View</a>
        {% if user.is_staff or user.is_superuser%}
        <a href="{% url 'posts:update' slug=x.slug  %}" class="btn btn-info" role="button">Edit</a>
        <a href="{% url 'posts:delete' slug=x.slug  %}" class="btn btn-danger" role="button">Delete</a> 
        {% endif %}
        <!--
        <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
           <img alt="twitter" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0> 
        </a>
        <a href="https://twitter.com/home?status={{instance.content|truncatechars:35|urlify}}%20{{request.build_absolute_uri}}">
            <img alt="twitter" src="//login.create.net/images/icons/user/twitter-b_30x30.png" border=0>
        </a>
       <a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.title|urlify}}&summary={{instance.content|truncatechars:35|urlify}}&source={{request.build_absolute_uri}}">
        Share on Linkedin
        </a> -->
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}