<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>MOTHER LIST</title>
	{# <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}"> #}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
{% include 'messages.html' %}
<br><br>
<a href="../form"><button type="button" id="create">Create New Post
</button></a>
<br><br>
{% for x in post_list %}
		<a href="../update/{{x.id}}"><button type="button" id="update">Update {{x.id}}</button></a>
	{% endfor %}
<br><br>
{% for x in post_list %}
		<a href="../delete/{{x.id}}"><button type="button" id="delete"> Delete  {{x.id}}</button></a>
	{% endfor %}
<br><br>
<h1>DICTIONARY TEST</h1>
<h2>The Post {{title}}</h2>
<ol>
<li>User: {{user}}</li>
<li>two</li>
<li>three</li>
<li>roboto font</li>
</ol>
<h2> Posts List </h2>
<ul>
	{% for instance in post_list %}
		<br>
		<a href="{% url 'posts:id' post_number=instance.id %}"><li>{{instance.title}}<br>
		{{instance.content}}</li></a>
	{% endfor %}
</ul>

<h2> Posts List - Object URL method</h2>
<ul>
	{% for x in post_list %}
		<br>
		<a href="{{x.absurl}}"><li>{{x.title}}<br>
		{{x.content}}</li></a>
	{% endfor %}
</ul>
<h3>One object and its contents task:</h3>
<ul id="new">
Title: {{post_one.title}}<br>
Content: {{post_one.content}}<br>
Time Updated: {{post_one.updated}}<br>
Created: {{post_one.timestamp}}
</ul>
<div style="text-align: center"><img src="https://i.vimeocdn.com/portrait/58832_300x300" id="img">
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>