<!DOCTYPE html>
<html>
<head>
	<title>One ID at a time (special URL that takes input from address)</title>
	<style>
	@import url('https://fonts.googleapis.com/css?family=Roboto');
	body {
		background-color: CadetBlue;
		font-family: Roboto;
	}
	h1 {
		font-size: 80px;
		font-family: verdana;
	}
	ul {
		color: white;
	}
	a {
		font-size: 20px;
	}
	</style>
</head>
<body>
<h1>ID Page</h1>
<ul id="new">
Title: {{input.title}}<br>
Content: {{input.content}}<br>
Time Updated: {{input.updated}}<br>
Created: {{input.timestamp}}
</ul>
<br><br>
<a href="{% url 'posts:list' %}">Go back to list</a>
<br><br>
<div>
<iframe width="600" height="450" src="https://www.youtube.com//embed/cpPG0bKHYKc">
</iframe>
</div>

</body>
</html>