<!DOCTYPE html>
{% load static %}
{% load comments %}
{% load crispy_forms_tags %}

<html>
<head>
	<title>One ID at a time (special URL that takes input from address)</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<style>
	@import url('https://fonts.googleapis.com/css?family=Roboto');

	body {
		background-color: CadetBlue;
		font-family: Roboto;
	}

	</style>
</head>
<body>
<div class="container">
<h1>ID Page</h1>
<ul id="new">
Title: {{input.title}}<br>
Content: {{input.content}}<br>
Time Updated: {{input.updated}}<br>
Created: {{input.timestamp}}<br>
Image: <br>{% if not input.draft %}<img src="{{input.image.url}}" class="img-responsive"> {% endif %}
{% if input.draft %} DRAFT {% endif %}
</ul>
<div id="comments">
{% include "comments.html" %}
</div>
<br><br>
<a href="{% url 'posts:list' %}" class="btn btn-primary" role="button">Go Back to List</a>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com//embed/cpPG0bKHYKc"></iframe>
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>